In [2]:
import pandas as pd

In [8]:
pd.read_excel('Labels.xlsx')[['filename', 'label']]

       filename  label
0    01_0_0.png      0
1    01_1_0.png      1
2    01_2_0.png      0
3    01_3_0.png      2
4    02_2_0.png      0
..          ...    ...
314  48_1_0.png    260
315  49_1_1.png    261
316  49_1_2.png    262
317  49_1_0.png    263
318  49_1_3.png    264

[319 rows x 2 columns]